<h1>POC</h1>
<div id="box">
<label for="empname">Employee Name</label>
<input type="text"id="empname" [(ngModel)]="Empname">

<label for="empnumber">Employee Number</label>
<input type="number"id="empnumber"[(ngModel)]="Empnumber">
<button (click)="submit()">submit</button>
</div>
<table border="2">
    <tr>
        <th>S.no</th>
        <th>Empname</th>
        <th>Empnumber</th>
        <th>Action</th>
        
    </tr>

    <tr *ngFor="let item of name">
    
    <td *ngIf="item.number%2==0"class="g">{{item.sno}}</td>
    <td *ngIf="item.number%2!=0"class="r">{{item.sno}}</td>
    <td *ngIf="item.number%2==0"class="g">{{item.name}}</td>
    <td *ngIf="item.number%2!=0"class="r">{{item.name}}</td>
    <td *ngIf="item.number%2==0"class="g">{{item.number}}</td>
    <td *ngIf="item.number%2!=0"class="r">{{item.number}}</td>
    <td><button>delete</button></td>
</tr>
</table>

