/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
h1{
    text-align: center;
}
input{
    padding: 2px;
    margin: 2px;
}
body{
    background-color: rgb(209, 170, 110);
}

#box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   margin-top: 30px;
   background-color: rgb(87, 82, 82);
   width: 20%;
   margin-left: 550px;
   height: 200px;
}
table{
    margin-top: 50px;
    margin-left: 542px;
  background-color: rgb(87, 82, 82);
}
.g{
    background-color: rgb(124, 189, 124);
    color: aliceblue;
}
.r{
    background-color:rgb(206, 142, 142);
    color: aliceblue;
}

th{
    color: aliceblue;
}
